<mat-toolbar  >
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>
      menu
    </mat-icon>
  </button>
  <mat-menu >
    <button mat-button routerLink="/">Home</button>
  </mat-menu>
  <h3 class="m-2">Hassan Streaming</h3>
  <input type="text" class="m-1 rounded"/>
  <button  class="btn btn-outline-secondary" (click)="search()">Search</button>
  <span class="spacer"></span>

  <button mat-button routerLink="/login">Sign In</button>
  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-button routerLink="/account">Account</button>
    <button mat-button routerLink="/logout">Logout</button>
  </mat-menu>

</mat-toolbar>

<mat-drawer-container >
  <mat-drawer #drawer opened="false" position="start" mode="side">
    <mat-list>
      <mat-list-item>
        <button mat-button routerLink="/">
          <mat-icon>
            home
          </mat-icon >Home</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/history">
          <mat-icon>
            history
          </mat-icon>History</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/watch-later">
          <mat-icon>
            watch-later
          </mat-icon>Watch Later</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/video-card">
          <mat-icon>
            home
          </mat-icon>Video Card</button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="min-height: 800px">
      <router-outlet>

      </router-outlet>
    </div>

  </mat-drawer-content>
</mat-drawer-container>
